.comments {
	padding-top: 79px;
	text-align: center;
	&__title {
		color: $pinkBrown;
		font-weight: 400;
		font-size: 30px;
		line-height: 44px;
		margin-bottom: 34px;
	}
	&__subtitle {
		font-size: 13px;
		margin-bottom: 44px;
	}
	&__btn {
		font-size: 13px;
	}
	&__inner {
		display: flex;
		
		height: 346px;
		text-align: left;
	}
}
.comment {
	max-width: 346px;
	border: 1px solid black;
	&__date {
		
	}
}