.essentials {
	padding: 79px 0 100px;
	&__title {
		margin-bottom: 24px;
		font-size: 19px;
		line-height: 29px;
		text-align: center;
		color: $pinkBrown;
	}
	&__items {
		display: flex;
		justify-content: center;
		margin: 0 22px;
		flex-wrap: wrap;
		column-gap: 65px;
		row-gap: 50px    ;
		margin-bottom: 50px;
	}
	&__item {
		display: flex;
		flex-basis: 389px;
		flex-direction: column;
		align-items: center;
	}
	&__item-image {
		margin-bottom: 20px;
	}
	&__item-title {
		font-weight: 700;
		font-size: 13px;
		margin-bottom: 8px;
		color: black;
	}
	&__item-price {
		font-size: 12px;
		line-height: 18px;
		color: black;
		margin-bottom: 5px;
	}
	&__review {
		font-size: 11px;
		margin-left: 70px;
	}
}