.proffer {
	display: flex;
	justify-content: flex-end;
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&__wrapper {
		width: 535px;
		text-align: center;
	}
	&__title {
		color: $pinkBrown;
		font-weight: 400;
		font-size: 31px;
		line-height: 44px;
		margin-bottom: 34px;
	}
	&__text {
		margin-bottom: 42px;
	}
}